<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>选择城市</title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <!--<link href="css/style.css" rel="stylesheet">-->
  <link href="css/city.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/PinYin.js"></script>
  <script src="data/cities.js"></script>

</head>

<body ng-app="starter" ng-controller="CityCtrl">

  <ion-pane>
    <div class="bar-calm  bar bar-header item-input-inset ">
      <!--<button class="button button-icon light icon ion-ios-arrow-back topleft" ng-click="goback()"></button>-->
      <h2 class="title">城市选择</h2>
    </div>
    <div class="bar-light  bar bar-hasheader item-input-inset ">
      <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="cityText" placeholder="请输入城市中文名称或拼音">
        </label>
    </div>
    <ion-content class="has-header has-subheader" scrollbar-y="false" style="background-color: #f5f5f5;" delegate-handle="cityScroll">
      <div class="list city">
        <ion-item class="item" ng-repeat="city in filterCities" ng-click="citySelected(city)" ng-bind="city.name">
        </ion-item>
        <ion-item class="item-divider">
          当前城市
        </ion-item>
        <ion-item class="item">
            <a class="cityItem" >武汉</a>
        </ion-item>

        <div ng-repeat="city in cities">
          <ion-item class="item-divider">
            <span id="{{city.index}}" ng-bind="city.index"> </span>
          </ion-item>
          <ion-item class="item-body">
            <a ng-click="citySelected(c)" class="cityItem" ng-repeat="c in city.cities" ng-bind="c.name"></a>
          </ion-item>
        </div>
      </div>
    </ion-content>
    <div id="indexs-bar">
      <div class="index-bar" ng-repeat="city in cities" ng-bind="city.index"></div>
    </div>
    <div id="indexs-title">
    </div>
  </ion-pane>
</body>

</html>