 .city .item, .city .item-divider{
     font-size:12px;
     font-family: "Microsoft YaHei";
     width:95%;
 }
 
.cityItem{
    border:1px solid #ccc;
    margin: 5px;
    padding: 5px;
    float:left;
    color: #333;
    border-radius:5px;
    min-width: 29%; 
    text-align: center;
} 
 
#indexs-title {
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFF;
    font-size: 300%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}
#indexs-bar {
    position: fixed;
    right: 0;
    width: 20px;
    height: 464px;
    z-index: 2;
    text-align: center;
    font-size: 60%;
    color: #545454; 
}
  